:root {
  /* --md-text-font-family:  */
  /* --md-code-font: "monospace"; */
  --kai-font: "STKaiti", "KaiTi", "Kai", "楷体";
  --song-font: "SimSun", "STSong", "宋体", "Noto Serif SC";
  --fang-font: "FangSong", "STFangsong", "仿宋";
}

article > h1 {
  text-align: center;
}

article object {
  margin: 2rem auto;
}

.heti {
  font-family: var(--song-font), var(--md-text-font-family);
  font-size: 0.8rem;
}

.heti > div > p,
blockquote > p {
  text-indent: 2rem;
}

.heti > div > p:has(br) {
  text-indent: unset;
  text-align: center;
}

.heti > div blockquote,
.heti details p {
  font-family: var(--kai-font);
  text-indent: 2rem;
}

.tabbed-block > p {
  font-family: var(--kai-font);
  margin: 1rem 1.5rem;
}

.tabbed-set  {
  border: solid 2px var(--md-accent-fg-color);
}

.heti details {
  font-size: 0.75rem;
  margin: 2rem auto;
}

.md-typeset .tabbed-labels > label {
  font-family: var(--fang-font), var(--md-text-font-family);
  font-size: 0.8rem;
}

.md-typeset h1, .md-typeset h2 {
  font-family: var(--md-text-font-family);
  font-weight: bold;
}

.heti summary,
.heti h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--md-text-font-family);
  color: var(--md-default-fg-color--light);
}

.doc-meta {
  margin: 1rem auto;
  text-align: center;
  font-family: var(--kai-font);
}

.heti > div p strong {
  color: #a94a4a;
  font-weight: bolder;
}

.heti > div p em {
  color: #889e73;
  font-style: italic;
}

.heti > div > p:has(> strong:only-child) {
  text-indent: 0;
}

.heti > div p > strong,
.heti > div li > strong {
  color: unset;
  font-family: var(--kai-font);
}

.heti li em {
  font-family: var(--fang-font);
  font-size: smaller;
}

/* 第一个段落，可能是标题 */
.heti > div > p:first-child,
.heti > div > details:first-child + p {
  text-indent: 0;
  text-align: center;
  font-size: larger;
  margin: 1rem auto;
}

.heti > div hr {
  inline-size: 90%;
}

span.d2h-code-line-ctn {
  word-break: break-all;
  white-space: normal;
}

/* 落款：居右对齐 */
.heti .article-signature {
  font-size: smaller;
  font-family: var(--kai-font);
  text-align: right;
  padding: 1rem 2rem;
}

.heti .article-signature > p {
  text-align: right;
}

.heti .article-date {
  font-size: smaller;
  font-family: var(--kai-font);
  text-align: center;
  margin: 1rem auto;
}

.heti .article-date > p {
  text-align: center;
}
